/* $FreeBSD: www/en/events/events.css,v 1.2 2004/12/04 22:34:43 murray Exp $ */

div.topic {
	margin-top: 1em;
	margin-bottom: 1em;
}

div.discussion {
	margin-left: 1cm;
}

strong.speaker {
	color: #660000;
}

strong.action {
	color: red;
}
