\ $Wintelcom: src/freebsd/pxe/doc/loader.rc,v 1.1 2000/07/15 07:20:37 bright Exp $
\ $FreeBSD: doc/da_DK.ISO8859-1/articles/pxe/loader.rc,v 1.1 2003/12/31 12:46:33 blackend Exp $
echo Loading Kernel...
load /kernel
echo Loading mfsroot...
load -t mfs_root /mfsroot
echo booting...
echo \007\007
echo initializing h0h0magic...
set vfs.root.mountfrom="ufs:/dev/md0c"
boot
